@charset "utf-8";
/*
Project: AirBnb Clone
Author: Carlos Andres Garcia
This Module contains the header styles for Task Advanced 2
*/

header {
	background-color: #FF0000;
	height: 70px;
	width: 100%;
       }
