@charset "utf-8";
/*
Project: AirBnb Clone
Author: Carlos Andres Garcia
This Module contains the header styles for Task Advanced 3
*/

header {
	background-color: #FFFFFF;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat, repeat;
	background-position: 20px;
       }
