@charset "utf-8";
/*
Project: AirBnb Clone
Author: Carlos Andres Garcia
This Module contains all commons styles for Task 4
*/


body {
	margin: 0;
	padding: 0;
	padding-bottom: 50px;
	     }

* {
	margin: 0;
	padding: 0;
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	box-sizing: border-box;
	}

.container {
		max-width: 1000px;
		margin: 30px auto 30px auto;

           }
